<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FocusMinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AE77A071CE525B30075BE36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AE77A1B1CE525B40075BE36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AE77A261CE525B40075BE36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
